# Cloned packages are commit-stamped, so we don't need to keep a local copy

**/lib/remote

# Data files / directories / archives

data
.RData
*.gz
*.zip

# Computed files

**/lib/built

results
man
doc/figure

*.docx
*.pptx
*.pdf
*.png
*.svg
*.jpg
*.jpeg
*.html
*.jar
*.aux
*.out

# Application logs

logs
log.txt
*.log

.snakemake
**/.nextflow/*
.nextflow.log*
.Rhistory
*.Rcheck
.ipynb_checkpoints

# Development

.idea

# Temp files

temp

*.swp
*.knit.md
*.utf8.md

# RStudio configs

.Rproj.user
